.loader{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100vh;

    
}
p{
    font-family: 'outfit';
    font-weight: 400;
    font-size: 20px;
}